/*
Link youtube: https://www.youtube.com/watch?v=rlFjsp4BtRA&list=PL07efmqYWHZ81_zqshUgM-tz40MtzOmN9
Link github: https://github.com/bedimcode/responsive-dropdown-menu-2
*/


/*========= GOOGLE FONT =========*/
/*===== Body font =====*/
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');
/*===== Main font =====*/
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&family=Sawarabi+Mincho&display=swap');


/*========= BASE CONFIG =========*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*========= VARIABLES FOR CSS =========*/
:root{

	/*===== Body config =====*/
	--font-farmily: "Mohave", sans-serif;
	--font-color: hsl(0, 30%, 93%);
	--font-size: 1rem;

	/*===== Header config =====*/
	--background-color-nav:hsl(123, 85%, 21%);
	--font-color-nav: hsl(0, 25%, 90%);
	--font-size-nav: 0.8rem;
	/*===== nav__data nav__menu*/
	--padding: 0.25rem;
	/*===== Change color hover menu =====*/
	--color-hover: rgb(76, 84, 47);
	--background-color-hover: rgb(18, 114, 31);

	/*===== MAIN CONTENTS =====*/
	--main-background: rgb(221, 221, 197);
	--main-font-family:"Sawarabi", sans-serif;
	--main-font-size:0.2rem;
	--main-font-color:black;
	--main-text-align: justify;
}

/*========= BODY CONFIG =========*/
body {
	background-color: rgb(255, 255, 255);
	color: var(--font-color);
	font-size: var(--font-size);
	font-family: var(--font-farmily);
	/* justify-content: center; */
	align-items: center;
	display: flex;
	flex-direction: column;
}

.root{
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1.5px solid hsl(123, 78%, 23%);
	box-shadow: 0 10px 10px rgb(30, 4, 4);
}

li {
	list-style: none;
}
a {
	text-decoration: none;
}

/*========= HEADER =========*/
/*Thẻ này chứa toàn bộ items của menu*/
.nav__header {
	width: 100%;
	height: 45px;
}
/*nav là thanh chứa các thuộc tính để điều hướng trên menu*/
.nav__header nav{
	background-color: var(--background-color-nav);
	display: flex;
	flex-direction: row;
	justify-content: center;	
	width: 100%;
	height: 100%;
}

/*===== Xuan Binh =====*/
.nav__logo{
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.nav__logo a{
	height: 100%;
	flex: 1;
	color: var(--font-color-nav);
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	padding-top: 8px;
	transition: background-color 0.3s;
}
.nav__logo a:hover{
	cursor: pointer;
	background-color: var(--background-color-hover);
}

/*===== Buffer =====*/
.buffer {
	width: 1px;
}

/*===== Burger menu =====*/
.burger__menu{
	display: none;
}

/*===== Menu =====*/
.nav__menu {
	flex:3;
	background-color: var(--background-color-nav);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.nav__menu ul{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
}
.nav__menu li {
	flex: 1;
	height: 100%;
	justify-content: center;
	text-align: center;
	transition: background-color 0.3s;
	padding: 8px 0 8px 0;	
}

.nav__menu li a{
	color: var(--font-color);	
	height: 100%;
	font-size: var(--font-size-nav);
}
.nav__menu li:hover {
	color: white;
	background-color: var(--background-color-hover);
		cursor: pointer;
}




/*========= MAIN CONTENTS =========*/
main {
	background-color: var(--main-background);
	height: 100%;
	width: 100%;
	overflow-y: auto;
	font-family: var(--main-font-family);
	color: var(--main-font-color);
	font-size: var(--main-font-size);
	padding: 5px 15px 5px 15px;
}
.root__main{
	width: 100%;
	text-align: var(--main-text-align);
}



@media screen and (width <= 700px) {

	/* .buffer {
		flex: 0;
	}
	.nav__logo{
		flex: 1.5;
	} */

	/* .nav__logo a{
		font-size: 1rem;
		padding-top: 8px;
	} */

	/* .nav__menu li a{
		font-size: .8rem;
		}
	.nav__menu li {
		padding: 5px 0 2px 0;	
	} */

}

@media screen and (width <= 550px) {
	.nav__menu {
		display: none;
	}
	.burger__menu {
		display: flex;
		justify-content: flex-end;
		flex: 1;
		padding: 10px 20px 10px 10px;
	}
	.burger__menu i:hover {
		cursor: pointer;
		background-color: var(--background-color-hover);
	}

}


















/*========= FOOTER =========*/
footer{
	background-color: var(--background-color-nav);
	width: 100%;
	justify-content: center;
	text-align: center;
	font-size: 10px;
	padding: 2px 0 2px 0;
}